<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="project.open_view_project_all" model="ir.actions.act_window">
            <field name="name">Projects</field>
            <field name="res_model">project.project</field>
            <field name="view_type">form</field>
            <field name="domain">[]</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="view_id" ref="project.view_project_kanban"/>
            <field name="search_view_id" ref="project.view_project_project_filter"/>
            <field name="context">{'search_default_Current': 1}</field>
        </record>

        <record id="action_project_department" model="ir.actions.act_window">
            <field name="name">部门管理</field>
            <field name="res_model">hr.department</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree</field>
            <field name="target">current</field>
        </record>


        <menuitem id="menuitem_project_department_config" name="部门" parent="base.menu_definitions" sequence="50" groups="base.group_no_one"
                  action="action_project_department"/>
    </data>
</openerp>