<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>
        <record id="action_school_timetable_all" model="ir.actions.act_window">
            <field name="name">所有课表</field>
            <field name="res_model">school.timetable</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <record id="action_school_plan_switch" model="ir.actions.act_window">
            <field name="name">换课管理</field>
            <field name="res_model">school.timetable.plan.switch.wizard</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
            <field name="context">{'mail_create_nosubscribe':True}</field>
        </record>

        <record id="action_school_plan_all" model="ir.actions.act_window">
            <field name="name">所有上课提醒</field>
            <field name="res_model">school.timetable.plan</field>
            <field name="view_type">form</field>
            <field name="view_id" ref="class_notify.view_school_plan_tree"/>
            <field name="view_mode">school_plan_quick,form</field>
            <field name="target">current</field>
            <field name="context">{'search_default_future-plan':1}</field>
        </record>

        <record id="action_school_semester_config" model="ir.actions.act_window">
            <field name="name">学期设置</field>
            <field name="res_model">school.semester</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <record id="action_school_subject_config" model="ir.actions.act_window">
            <field name="name">科目设置</field>
            <field name="res_model">school.subject</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree</field>
            <field name="target">current</field>
        </record>

        <record id="action_school_classroom_config" model="ir.actions.act_window">
            <field name="name">班级设置</field>
            <field name="res_model">school.classroom</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree</field>
            <field name="target">current</field>
        </record>
        <record id="action_school_lesson_config" model="ir.actions.act_window">
            <field name="name">节数设置</field>
            <field name="res_model">school.lesson</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="target">current</field>
        </record>

        <menuitem id="menuitem_school_root" name="课程管理" sequence="51" groups="class_notify.group_class_user"/>

        <menuitem id="menuitem_school_plan_manage" name="课程计划管理" parent='menuitem_school_root' sequence="10" groups="class_notify.group_class_user"/>
        <menuitem id="menuitem_school_plan_all" name="课程计划" parent="menuitem_school_plan_manage" sequence="10"
                  action="action_school_plan_all"/>

        <menuitem id="menuitem_school_plan_switch" name="换课申请管理" parent="menuitem_school_plan_manage" sequence="15"
                  groups="class_notify.group_class_admin"
                  action="action_school_plan_switch"/>

        <menuitem id="menuitem_school_timetable_manage" name="课表管理" parent='menuitem_school_root' sequence="20"
                  groups="class_notify.group_class_admin"/>
        <menuitem id="menuitem_school_timetable_all" name="课表" parent="menuitem_school_timetable_manage" sequence="10"
                  action="action_school_timetable_all"/>

        <menuitem id="menuitem_school_config" name="设置" parent='menuitem_school_root' sequence="50" groups="class_notify.group_class_admin"/>
        <menuitem id="menuitem_school_config_semester" name="学期" parent="menuitem_school_config" sequence="5"
                  action="action_school_semester_config"/>

        <menuitem id="menuitem_school_config_base" name="基础数据" parent="menuitem_school_config" sequence="10"/>
        <menuitem id="menuitem_school_config_subject" name="科目" parent="menuitem_school_config_base" sequence="15"
                  action="action_school_subject_config"/>
        <menuitem id="menuitem_school_config_lesson" name="节数" parent="menuitem_school_config_base" sequence="25"
                  action="action_school_lesson_config"/>
        <menuitem id="menuitem_school_config_classroom" name="班级" parent="menuitem_school_config_base" sequence="20"
                  action="action_school_classroom_config"/>


    </data>
</openerp>